$cardBorder: 1px solid #45f5a5;
$cardBoxShadow: 0 0 5px 0 #2c93ce;

$cardHeaderBg: none;
$cardHeaderFg: #fff;
$cardHeaderBorder: 1px solid #45f5a5;
$cardHeaderBoxShadow: 0 1px 5px 0 #2c93ce;
$cardHeaderIconColor: #fff;

$cardContentBg: none;
$cardContentFg: #fff;

$cardFooterBg: none;
$cardFooterFg: #fff;
$cardFooterBorder: 1px solid #45f5a5;
$cardFooterBoxShadow: 0 -1px 5px 0 #2c93ce;
