@use "sass:string";
$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-credit-savvy-logo-path1: string.unquote('"\\eb13"');
$icon-credit-savvy-logo-path2: string.unquote('"\\eb14"');
$icon-credit-savvy-logo-path3: string.unquote('"\\eb15"');
$icon-credit-savvy-logo-path4: string.unquote('"\\eb16"');
$icon-credit-savvy-logo-path5: string.unquote('"\\eb17"');
$icon-credit-savvy-logo-path6: string.unquote('"\\eb18"');
$icon-credit-savvy-logo-path7: string.unquote('"\\eb19"');
$icon-credit-savvy-logo-path8: string.unquote('"\\eb1a"');
$icon-credit-savvy-logo-path9: string.unquote('"\\eb1b"');
$icon-credit-savvy-logo-path10: string.unquote('"\\eb1c"');
$icon-credit-savvy-logo-path11: string.unquote('"\\eb1d"');
$icon-credit-savvy-logo-path12: string.unquote('"\\eb1e"');
$icon-cloud-costs: string.unquote('"\\eb0e"');
$icon-cloud: string.unquote('"\\eb0f"');
$icon-scale: string.unquote('"\\eb10"');
$icon-window: string.unquote('"\\eb11"');
$icon-close: string.unquote('"\\eaf4"');
$icon-downloadDark: string.unquote('"\\eaf5"');
$icon-externalLink: string.unquote('"\\eaf6"');
$icon-filterDark: string.unquote('"\\eaf7"');
$icon-grayBarsBg: string.unquote('"\\eaf8"');
$icon-hamburger: string.unquote('"\\eaf9"');
$icon-quotationMarks: string.unquote('"\\eafa"');
$icon-quotationMarkUp: string.unquote('"\\eafb"');
$icon-x: string.unquote('"\\eafc"');
$icon-cheddar: string.unquote('"\\eafd"');
$icon-credit-savvy: string.unquote('"\\eafe"');
$icon-doshii: string.unquote('"\\eaff"');
$icon-home-in: string.unquote('"\\eb00"');
$icon-kit: string.unquote('"\\eb01"');
$icon-truyu-path1: string.unquote('"\\eb02"');
$icon-truyu-path2: string.unquote('"\\eb03"');
$icon-truyu-path3: string.unquote('"\\eb04"');
$icon-unloan: string.unquote('"\\eb05"');
$icon-waddle: string.unquote('"\\eb06"');
$icon-xgraph: string.unquote('"\\eb07"');
$icon-x15: string.unquote('"\\eb08"');
$icon-kit-logo: string.unquote('"\\eb12"');
$icon-truyu-logo: string.unquote('"\\eaf3"');
$icon-xgraph-large: string.unquote('"\\eb09"');
$icon-x15Logo: string.unquote('"\\eb0a"');
$icon-unloan-logo: string.unquote('"\\eb0b"');
$icon-doshii-logo: string.unquote('"\\eb0c"');
$icon-home-in-logo: string.unquote('"\\eb0d"');
$icon-arrowDown: string.unquote('"\\e965"');
$icon-arrowRight: string.unquote('"\\e966"');
$icon-arrowUp: string.unquote('"\\e967"');
$icon-arrowLeft: string.unquote('"\\e968"');
$icon-chevronRightSelect: string.unquote('"\\e969"');
$icon-chevronUpSelect: string.unquote('"\\e96a"');
$icon-chevronLeftSelect: string.unquote('"\\e989"');
$icon-chevronDownSelect: string.unquote('"\\e98a"');
$icon-loop: string.unquote('"\\ea2d"');
$icon-loop2: string.unquote('"\\ea2e"');
$icon-shuffle: string.unquote('"\\ea30"');
$icon-arrow-up-left: string.unquote('"\\ea31"');
$icon-arrow-up: string.unquote('"\\ea32"');
$icon-arrow-up-right: string.unquote('"\\ea33"');
$icon-arrow-right: string.unquote('"\\ea34"');
$icon-arrow-down-right: string.unquote('"\\ea35"');
$icon-arrow-down: string.unquote('"\\ea36"');
$icon-arrow-down-left: string.unquote('"\\ea37"');
$icon-arrow-left: string.unquote('"\\ea38"');
$icon-arrow-up-left2: string.unquote('"\\ea39"');
$icon-arrow-up2: string.unquote('"\\ea3a"');
$icon-arrow-up-right2: string.unquote('"\\ea3b"');
$icon-arrow-right2: string.unquote('"\\ea3c"');
$icon-arrow-down-right2: string.unquote('"\\ea3d"');
$icon-arrow-down2: string.unquote('"\\ea3e"');
$icon-arrow-down-left2: string.unquote('"\\ea3f"');
$icon-arrow-left2: string.unquote('"\\ea40"');
$icon-circle-up: string.unquote('"\\ea41"');
$icon-circle-right: string.unquote('"\\ea42"');
$icon-circle-down: string.unquote('"\\ea43"');
$icon-circle-left: string.unquote('"\\ea44"');
$icon-tab: string.unquote('"\\ea45"');
$icon-shift: string.unquote('"\\ea4f"');
$icon-ctrl: string.unquote('"\\ea50"');
$icon-enlarge: string.unquote('"\\e98b"');
$icon-shrink: string.unquote('"\\e98c"');
$icon-enlarge2: string.unquote('"\\eaeb"');
$icon-shrink2: string.unquote('"\\eaec"');
$icon-undo: string.unquote('"\\eaed"');
$icon-redo: string.unquote('"\\eaee"');
$icon-undo2: string.unquote('"\\eaef"');
$icon-redo2: string.unquote('"\\eaf0"');
$icon-forward: string.unquote('"\\eaf1"');
$icon-reply: string.unquote('"\\eaf2"');
$icon-happy: string.unquote('"\\e9df"');
$icon-happy2: string.unquote('"\\e9e0"');
$icon-smile: string.unquote('"\\e9e1"');
$icon-smile2: string.unquote('"\\e9e2"');
$icon-tongue: string.unquote('"\\e9e3"');
$icon-tongue2: string.unquote('"\\e9e4"');
$icon-sad: string.unquote('"\\e9e5"');
$icon-sad2: string.unquote('"\\e9e6"');
$icon-wink: string.unquote('"\\e9e7"');
$icon-wink2: string.unquote('"\\e9e8"');
$icon-grin: string.unquote('"\\e9e9"');
$icon-grin2: string.unquote('"\\e9ea"');
$icon-cool: string.unquote('"\\e9eb"');
$icon-cool2: string.unquote('"\\e9ec"');
$icon-angry: string.unquote('"\\e9ed"');
$icon-angry2: string.unquote('"\\e9ee"');
$icon-evil: string.unquote('"\\e9ef"');
$icon-evil2: string.unquote('"\\e9f0"');
$icon-shocked: string.unquote('"\\e9f1"');
$icon-shocked2: string.unquote('"\\e9f2"');
$icon-baffled: string.unquote('"\\e9f3"');
$icon-baffled2: string.unquote('"\\e9f4"');
$icon-confused: string.unquote('"\\e9f5"');
$icon-confused2: string.unquote('"\\e9f6"');
$icon-neutral: string.unquote('"\\e9f7"');
$icon-neutral2: string.unquote('"\\e9f8"');
$icon-hipster: string.unquote('"\\e9f9"');
$icon-hipster2: string.unquote('"\\e9fa"');
$icon-wondering: string.unquote('"\\e9fb"');
$icon-wondering2: string.unquote('"\\e9fc"');
$icon-sleepy: string.unquote('"\\e9fd"');
$icon-sleepy2: string.unquote('"\\e9fe"');
$icon-frustrated: string.unquote('"\\e9ff"');
$icon-frustrated2: string.unquote('"\\ea00"');
$icon-crying: string.unquote('"\\ea01"');
$icon-crying2: string.unquote('"\\ea02"');
$icon-amazon: string.unquote('"\\ea87"');
$icon-google: string.unquote('"\\ea88"');
$icon-google2: string.unquote('"\\ea89"');
$icon-google3: string.unquote('"\\ea8a"');
$icon-google-plus: string.unquote('"\\ea8b"');
$icon-google-plus2: string.unquote('"\\ea8c"');
$icon-google-plus3: string.unquote('"\\ea8d"');
$icon-hangouts: string.unquote('"\\ea8e"');
$icon-google-drive: string.unquote('"\\ea8f"');
$icon-facebook: string.unquote('"\\ea90"');
$icon-facebook2: string.unquote('"\\ea91"');
$icon-instagram: string.unquote('"\\ea92"');
$icon-whatsapp: string.unquote('"\\ea93"');
$icon-spotify: string.unquote('"\\ea94"');
$icon-telegram: string.unquote('"\\ea95"');
$icon-twitter: string.unquote('"\\ea96"');
$icon-vine: string.unquote('"\\ea97"');
$icon-vk: string.unquote('"\\ea98"');
$icon-renren: string.unquote('"\\ea99"');
$icon-sina-weibo: string.unquote('"\\ea9a"');
$icon-rss: string.unquote('"\\ea9b"');
$icon-rss2: string.unquote('"\\ea9c"');
$icon-youtube: string.unquote('"\\ea9d"');
$icon-youtube2: string.unquote('"\\ea9e"');
$icon-twitch: string.unquote('"\\ea9f"');
$icon-vimeo: string.unquote('"\\eaa0"');
$icon-vimeo2: string.unquote('"\\eaa1"');
$icon-lanyrd: string.unquote('"\\eaa2"');
$icon-flickr: string.unquote('"\\eaa3"');
$icon-flickr2: string.unquote('"\\eaa4"');
$icon-flickr3: string.unquote('"\\eaa5"');
$icon-flickr4: string.unquote('"\\eaa6"');
$icon-dribbble: string.unquote('"\\eaa7"');
$icon-behance: string.unquote('"\\eaa8"');
$icon-behance2: string.unquote('"\\eaa9"');
$icon-deviantart: string.unquote('"\\eaaa"');
$icon-500px: string.unquote('"\\eaab"');
$icon-steam: string.unquote('"\\eaac"');
$icon-steam2: string.unquote('"\\eaad"');
$icon-dropbox: string.unquote('"\\eaae"');
$icon-onedrive: string.unquote('"\\eaaf"');
$icon-github: string.unquote('"\\eab0"');
$icon-npm: string.unquote('"\\eab1"');
$icon-basecamp: string.unquote('"\\eab2"');
$icon-trello: string.unquote('"\\eab3"');
$icon-wordpress: string.unquote('"\\eab4"');
$icon-joomla: string.unquote('"\\eab5"');
$icon-ello: string.unquote('"\\eab6"');
$icon-blogger: string.unquote('"\\eab7"');
$icon-blogger2: string.unquote('"\\eab8"');
$icon-tumblr: string.unquote('"\\eab9"');
$icon-tumblr2: string.unquote('"\\eaba"');
$icon-yahoo: string.unquote('"\\eabb"');
$icon-yahoo2: string.unquote('"\\eabc"');
$icon-tux: string.unquote('"\\eabd"');
$icon-appleinc: string.unquote('"\\eabe"');
$icon-finder: string.unquote('"\\eabf"');
$icon-android: string.unquote('"\\eac0"');
$icon-windows: string.unquote('"\\eac1"');
$icon-windows8: string.unquote('"\\eac2"');
$icon-soundcloud: string.unquote('"\\eac3"');
$icon-soundcloud2: string.unquote('"\\eac4"');
$icon-skype: string.unquote('"\\eac5"');
$icon-reddit: string.unquote('"\\eac6"');
$icon-hackernews: string.unquote('"\\eac7"');
$icon-wikipedia: string.unquote('"\\eac8"');
$icon-linkedin: string.unquote('"\\eac9"');
$icon-linkedin2: string.unquote('"\\eaca"');
$icon-lastfm: string.unquote('"\\eacb"');
$icon-lastfm2: string.unquote('"\\eacc"');
$icon-delicious: string.unquote('"\\eacd"');
$icon-stumbleupon: string.unquote('"\\eace"');
$icon-stumbleupon2: string.unquote('"\\eacf"');
$icon-stackoverflow: string.unquote('"\\ead0"');
$icon-pinterest: string.unquote('"\\ead1"');
$icon-pinterest2: string.unquote('"\\ead2"');
$icon-xing: string.unquote('"\\ead3"');
$icon-xing2: string.unquote('"\\ead4"');
$icon-flattr: string.unquote('"\\ead5"');
$icon-foursquare: string.unquote('"\\ead6"');
$icon-yelp: string.unquote('"\\ead7"');
$icon-paypal: string.unquote('"\\ead8"');
$icon-chrome: string.unquote('"\\ead9"');
$icon-firefox: string.unquote('"\\eada"');
$icon-IE: string.unquote('"\\eadb"');
$icon-edge: string.unquote('"\\eadc"');
$icon-safari: string.unquote('"\\eadd"');
$icon-opera: string.unquote('"\\eade"');
$icon-file-pdf: string.unquote('"\\eadf"');
$icon-file-openoffice: string.unquote('"\\eae0"');
$icon-libreoffice: string.unquote('"\\eae3"');
$icon-html-five: string.unquote('"\\eae4"');
$icon-html-five2: string.unquote('"\\eae5"');
$icon-css3: string.unquote('"\\eae6"');
$icon-git: string.unquote('"\\eae7"');
$icon-codepen: string.unquote('"\\eae8"');
$icon-svg: string.unquote('"\\eae9"');
$icon-IcoMoon: string.unquote('"\\eaea"');
$icon-accessibility: string.unquote('"\\e9b2"');
$icon-man: string.unquote('"\\e9dc"');
$icon-woman: string.unquote('"\\e9dd"');
$icon-man-woman: string.unquote('"\\e9de"');
$icon-user: string.unquote('"\\e971"');
$icon-users: string.unquote('"\\e972"');
$icon-user-plus: string.unquote('"\\e973"');
$icon-user-minus: string.unquote('"\\e974"');
$icon-user-check: string.unquote('"\\e975"');
$icon-user-tie: string.unquote('"\\e976"');
$icon-home: string.unquote('"\\e900"');
$icon-home2: string.unquote('"\\e901"');
$icon-home3: string.unquote('"\\e902"');
$icon-office: string.unquote('"\\e903"');
$icon-newspaper: string.unquote('"\\e904"');
$icon-pencil: string.unquote('"\\e905"');
$icon-pencil2: string.unquote('"\\e906"');
$icon-quill: string.unquote('"\\e907"');
$icon-pen: string.unquote('"\\e908"');
$icon-blog: string.unquote('"\\e909"');
$icon-eyedropper: string.unquote('"\\e90a"');
$icon-droplet: string.unquote('"\\e90b"');
$icon-paint-format: string.unquote('"\\e90c"');
$icon-image: string.unquote('"\\e90d"');
$icon-images: string.unquote('"\\e90e"');
$icon-camera: string.unquote('"\\e90f"');
$icon-headphones: string.unquote('"\\e910"');
$icon-music: string.unquote('"\\e911"');
$icon-play: string.unquote('"\\e912"');
$icon-film: string.unquote('"\\e913"');
$icon-video-camera: string.unquote('"\\e914"');
$icon-dice: string.unquote('"\\e915"');
$icon-pacman: string.unquote('"\\e916"');
$icon-spades: string.unquote('"\\e917"');
$icon-clubs: string.unquote('"\\e918"');
$icon-diamonds: string.unquote('"\\e919"');
$icon-bullhorn: string.unquote('"\\e91a"');
$icon-connection: string.unquote('"\\e91b"');
$icon-podcast: string.unquote('"\\e91c"');
$icon-feed: string.unquote('"\\e91d"');
$icon-mic: string.unquote('"\\e91e"');
$icon-book: string.unquote('"\\e91f"');
$icon-books: string.unquote('"\\e920"');
$icon-library: string.unquote('"\\e921"');
$icon-file-text: string.unquote('"\\e922"');
$icon-profile: string.unquote('"\\e923"');
$icon-file-empty: string.unquote('"\\e924"');
$icon-files-empty: string.unquote('"\\e925"');
$icon-file-text2: string.unquote('"\\e926"');
$icon-file-picture: string.unquote('"\\e927"');
$icon-file-music: string.unquote('"\\e928"');
$icon-file-play: string.unquote('"\\e929"');
$icon-file-video: string.unquote('"\\e92a"');
$icon-file-zip: string.unquote('"\\e92b"');
$icon-copy: string.unquote('"\\e92c"');
$icon-paste: string.unquote('"\\e92d"');
$icon-stack: string.unquote('"\\e92e"');
$icon-folder: string.unquote('"\\e92f"');
$icon-folder-open: string.unquote('"\\e930"');
$icon-folder-plus: string.unquote('"\\e931"');
$icon-folder-minus: string.unquote('"\\e932"');
$icon-folder-download: string.unquote('"\\e933"');
$icon-folder-upload: string.unquote('"\\e934"');
$icon-price-tag: string.unquote('"\\e935"');
$icon-price-tags: string.unquote('"\\e936"');
$icon-barcode: string.unquote('"\\e937"');
$icon-qrcode: string.unquote('"\\e938"');
$icon-ticket: string.unquote('"\\e939"');
$icon-cart: string.unquote('"\\e93a"');
$icon-coin-dollar: string.unquote('"\\e93b"');
$icon-coin-euro: string.unquote('"\\e93c"');
$icon-coin-pound: string.unquote('"\\e93d"');
$icon-coin-yen: string.unquote('"\\e93e"');
$icon-credit-card: string.unquote('"\\e93f"');
$icon-calculator: string.unquote('"\\e940"');
$icon-lifebuoy: string.unquote('"\\e941"');
$icon-phone: string.unquote('"\\e942"');
$icon-phone-hang-up: string.unquote('"\\e943"');
$icon-address-book: string.unquote('"\\e944"');
$icon-envelop: string.unquote('"\\e945"');
$icon-pushpin: string.unquote('"\\e946"');
$icon-location: string.unquote('"\\e947"');
$icon-location2: string.unquote('"\\e948"');
$icon-compass: string.unquote('"\\e949"');
$icon-compass2: string.unquote('"\\e94a"');
$icon-map: string.unquote('"\\e94b"');
$icon-map2: string.unquote('"\\e94c"');
$icon-history: string.unquote('"\\e94d"');
$icon-clock: string.unquote('"\\e94e"');
$icon-clock2: string.unquote('"\\e94f"');
$icon-alarm: string.unquote('"\\e950"');
$icon-bell: string.unquote('"\\e951"');
$icon-stopwatch: string.unquote('"\\e952"');
$icon-calendar: string.unquote('"\\e953"');
$icon-printer: string.unquote('"\\e954"');
$icon-keyboard: string.unquote('"\\e955"');
$icon-display: string.unquote('"\\e956"');
$icon-laptop: string.unquote('"\\e957"');
$icon-mobile: string.unquote('"\\e958"');
$icon-mobile2: string.unquote('"\\e959"');
$icon-tablet: string.unquote('"\\e95a"');
$icon-tv: string.unquote('"\\e95b"');
$icon-drawer: string.unquote('"\\e95c"');
$icon-drawer2: string.unquote('"\\e95d"');
$icon-box-add: string.unquote('"\\e95e"');
$icon-box-remove: string.unquote('"\\e95f"');
$icon-download: string.unquote('"\\e960"');
$icon-upload: string.unquote('"\\e961"');
$icon-floppy-disk: string.unquote('"\\e962"');
$icon-drive: string.unquote('"\\e963"');
$icon-database: string.unquote('"\\e964"');
$icon-bubble: string.unquote('"\\e96b"');
$icon-bubbles: string.unquote('"\\e96c"');
$icon-bubbles2: string.unquote('"\\e96d"');
$icon-bubble2: string.unquote('"\\e96e"');
$icon-bubbles3: string.unquote('"\\e96f"');
$icon-bubbles4: string.unquote('"\\e970"');
$icon-quotes-left: string.unquote('"\\e977"');
$icon-quotes-right: string.unquote('"\\e978"');
$icon-hour-glass: string.unquote('"\\e979"');
$icon-spinner: string.unquote('"\\e97a"');
$icon-spinner2: string.unquote('"\\e97b"');
$icon-spinner3: string.unquote('"\\e97c"');
$icon-spinner4: string.unquote('"\\e97d"');
$icon-spinner5: string.unquote('"\\e97e"');
$icon-spinner6: string.unquote('"\\e97f"');
$icon-spinner7: string.unquote('"\\e980"');
$icon-spinner8: string.unquote('"\\e981"');
$icon-spinner9: string.unquote('"\\e982"');
$icon-spinner10: string.unquote('"\\e983"');
$icon-spinner11: string.unquote('"\\e984"');
$icon-binoculars: string.unquote('"\\e985"');
$icon-search: string.unquote('"\\e986"');
$icon-zoom-in: string.unquote('"\\e987"');
$icon-zoom-out: string.unquote('"\\e988"');
$icon-key: string.unquote('"\\e98d"');
$icon-key2: string.unquote('"\\e98e"');
$icon-lock: string.unquote('"\\e98f"');
$icon-unlocked: string.unquote('"\\e990"');
$icon-wrench: string.unquote('"\\e991"');
$icon-equalizer: string.unquote('"\\e992"');
$icon-equalizer2: string.unquote('"\\e993"');
$icon-cog: string.unquote('"\\e994"');
$icon-cogs: string.unquote('"\\e995"');
$icon-hammer: string.unquote('"\\e996"');
$icon-magic-wand: string.unquote('"\\e997"');
$icon-aid-kit: string.unquote('"\\e998"');
$icon-bug: string.unquote('"\\e999"');
$icon-pie-chart: string.unquote('"\\e99a"');
$icon-stats-dots: string.unquote('"\\e99b"');
$icon-stats-bars: string.unquote('"\\e99c"');
$icon-stats-bars2: string.unquote('"\\e99d"');
$icon-trophy: string.unquote('"\\e99e"');
$icon-gift: string.unquote('"\\e99f"');
$icon-glass: string.unquote('"\\e9a0"');
$icon-glass2: string.unquote('"\\e9a1"');
$icon-mug: string.unquote('"\\e9a2"');
$icon-spoon-knife: string.unquote('"\\e9a3"');
$icon-leaf: string.unquote('"\\e9a4"');
$icon-rocket: string.unquote('"\\e9a5"');
$icon-meter: string.unquote('"\\e9a6"');
$icon-meter2: string.unquote('"\\e9a7"');
$icon-hammer2: string.unquote('"\\e9a8"');
$icon-fire: string.unquote('"\\e9a9"');
$icon-lab: string.unquote('"\\e9aa"');
$icon-magnet: string.unquote('"\\e9ab"');
$icon-bin: string.unquote('"\\e9ac"');
$icon-bin2: string.unquote('"\\e9ad"');
$icon-briefcase: string.unquote('"\\e9ae"');
$icon-airplane: string.unquote('"\\e9af"');
$icon-truck: string.unquote('"\\e9b0"');
$icon-road: string.unquote('"\\e9b1"');
$icon-target: string.unquote('"\\e9b3"');
$icon-shield: string.unquote('"\\e9b4"');
$icon-power: string.unquote('"\\e9b5"');
$icon-switch: string.unquote('"\\e9b6"');
$icon-power-cord: string.unquote('"\\e9b7"');
$icon-clipboard: string.unquote('"\\e9b8"');
$icon-list-numbered: string.unquote('"\\e9b9"');
$icon-list: string.unquote('"\\e9ba"');
$icon-list2: string.unquote('"\\e9bb"');
$icon-tree: string.unquote('"\\e9bc"');
$icon-menu: string.unquote('"\\e9bd"');
$icon-menu2: string.unquote('"\\e9be"');
$icon-menu3: string.unquote('"\\e9bf"');
$icon-menu4: string.unquote('"\\e9c0"');
$icon-cloud1: string.unquote('"\\e9c1"');
$icon-cloud-download: string.unquote('"\\e9c2"');
$icon-cloud-upload: string.unquote('"\\e9c3"');
$icon-cloud-check: string.unquote('"\\e9c4"');
$icon-download2: string.unquote('"\\e9c5"');
$icon-upload2: string.unquote('"\\e9c6"');
$icon-download3: string.unquote('"\\e9c7"');
$icon-upload3: string.unquote('"\\e9c8"');
$icon-sphere: string.unquote('"\\e9c9"');
$icon-earth: string.unquote('"\\e9ca"');
$icon-link: string.unquote('"\\e9cb"');
$icon-flag: string.unquote('"\\e9cc"');
$icon-attachment: string.unquote('"\\e9cd"');
$icon-eye: string.unquote('"\\e9ce"');
$icon-eye-plus: string.unquote('"\\e9cf"');
$icon-eye-minus: string.unquote('"\\e9d0"');
$icon-eye-blocked: string.unquote('"\\e9d1"');
$icon-bookmark: string.unquote('"\\e9d2"');
$icon-bookmarks: string.unquote('"\\e9d3"');
$icon-sun: string.unquote('"\\e9d4"');
$icon-contrast: string.unquote('"\\e9d5"');
$icon-brightness-contrast: string.unquote('"\\e9d6"');
$icon-star-empty: string.unquote('"\\e9d7"');
$icon-star-half: string.unquote('"\\e9d8"');
$icon-star-full: string.unquote('"\\e9d9"');
$icon-heart: string.unquote('"\\e9da"');
$icon-heart-broken: string.unquote('"\\e9db"');
$icon-point-up: string.unquote('"\\ea03"');
$icon-point-right: string.unquote('"\\ea04"');
$icon-point-down: string.unquote('"\\ea05"');
$icon-point-left: string.unquote('"\\ea06"');
$icon-warning: string.unquote('"\\ea07"');
$icon-notification: string.unquote('"\\ea08"');
$icon-question: string.unquote('"\\ea09"');
$icon-plus: string.unquote('"\\ea0a"');
$icon-minus: string.unquote('"\\ea0b"');
$icon-info: string.unquote('"\\ea0c"');
$icon-cancel-circle: string.unquote('"\\ea0d"');
$icon-blocked: string.unquote('"\\ea0e"');
$icon-cross: string.unquote('"\\ea0f"');
$icon-checkmark: string.unquote('"\\ea10"');
$icon-checkmark2: string.unquote('"\\ea11"');
$icon-spell-check: string.unquote('"\\ea12"');
$icon-enter: string.unquote('"\\ea13"');
$icon-exit: string.unquote('"\\ea14"');
$icon-play2: string.unquote('"\\ea15"');
$icon-pause: string.unquote('"\\ea16"');
$icon-stop: string.unquote('"\\ea17"');
$icon-previous: string.unquote('"\\ea18"');
$icon-next: string.unquote('"\\ea19"');
$icon-backward: string.unquote('"\\ea1a"');
$icon-forward2: string.unquote('"\\ea1b"');
$icon-play3: string.unquote('"\\ea1c"');
$icon-pause2: string.unquote('"\\ea1d"');
$icon-stop2: string.unquote('"\\ea1e"');
$icon-backward2: string.unquote('"\\ea1f"');
$icon-forward3: string.unquote('"\\ea20"');
$icon-first: string.unquote('"\\ea21"');
$icon-last: string.unquote('"\\ea22"');
$icon-previous2: string.unquote('"\\ea23"');
$icon-next2: string.unquote('"\\ea24"');
$icon-eject: string.unquote('"\\ea25"');
$icon-volume-high: string.unquote('"\\ea26"');
$icon-volume-medium: string.unquote('"\\ea27"');
$icon-volume-low: string.unquote('"\\ea28"');
$icon-volume-mute: string.unquote('"\\ea29"');
$icon-volume-mute2: string.unquote('"\\ea2a"');
$icon-volume-increase: string.unquote('"\\ea2b"');
$icon-volume-decrease: string.unquote('"\\ea2c"');
$icon-infinite: string.unquote('"\\ea2f"');
$icon-move-up: string.unquote('"\\ea46"');
$icon-move-down: string.unquote('"\\ea47"');
$icon-sort-alpha-asc: string.unquote('"\\ea48"');
$icon-sort-alpha-desc: string.unquote('"\\ea49"');
$icon-sort-numeric-asc: string.unquote('"\\ea4a"');
$icon-sort-numberic-desc: string.unquote('"\\ea4b"');
$icon-sort-amount-asc: string.unquote('"\\ea4c"');
$icon-sort-amount-desc: string.unquote('"\\ea4d"');
$icon-command: string.unquote('"\\ea4e"');
$icon-opt: string.unquote('"\\ea51"');
$icon-checkbox-checked: string.unquote('"\\ea52"');
$icon-checkbox-unchecked: string.unquote('"\\ea53"');
$icon-radio-checked: string.unquote('"\\ea54"');
$icon-radio-checked2: string.unquote('"\\ea55"');
$icon-radio-unchecked: string.unquote('"\\ea56"');
$icon-crop: string.unquote('"\\ea57"');
$icon-make-group: string.unquote('"\\ea58"');
$icon-ungroup: string.unquote('"\\ea59"');
$icon-scissors: string.unquote('"\\ea5a"');
$icon-filter: string.unquote('"\\ea5b"');
$icon-font: string.unquote('"\\ea5c"');
$icon-ligature: string.unquote('"\\ea5d"');
$icon-ligature2: string.unquote('"\\ea5e"');
$icon-text-height: string.unquote('"\\ea5f"');
$icon-text-width: string.unquote('"\\ea60"');
$icon-font-size: string.unquote('"\\ea61"');
$icon-bold: string.unquote('"\\ea62"');
$icon-underline: string.unquote('"\\ea63"');
$icon-italic: string.unquote('"\\ea64"');
$icon-strikethrough: string.unquote('"\\ea65"');
$icon-omega: string.unquote('"\\ea66"');
$icon-sigma: string.unquote('"\\ea67"');
$icon-page-break: string.unquote('"\\ea68"');
$icon-superscript: string.unquote('"\\ea69"');
$icon-subscript: string.unquote('"\\ea6a"');
$icon-superscript2: string.unquote('"\\ea6b"');
$icon-subscript2: string.unquote('"\\ea6c"');
$icon-text-color: string.unquote('"\\ea6d"');
$icon-pagebreak: string.unquote('"\\ea6e"');
$icon-clear-formatting: string.unquote('"\\ea6f"');
$icon-table: string.unquote('"\\ea70"');
$icon-table2: string.unquote('"\\ea71"');
$icon-insert-template: string.unquote('"\\ea72"');
$icon-pilcrow: string.unquote('"\\ea73"');
$icon-ltr: string.unquote('"\\ea74"');
$icon-rtl: string.unquote('"\\ea75"');
$icon-section: string.unquote('"\\ea76"');
$icon-paragraph-left: string.unquote('"\\ea77"');
$icon-paragraph-center: string.unquote('"\\ea78"');
$icon-paragraph-right: string.unquote('"\\ea79"');
$icon-paragraph-justify: string.unquote('"\\ea7a"');
$icon-indent-increase: string.unquote('"\\ea7b"');
$icon-indent-decrease: string.unquote('"\\ea7c"');
$icon-share: string.unquote('"\\ea7d"');
$icon-new-tab: string.unquote('"\\ea7e"');
$icon-embed: string.unquote('"\\ea7f"');
$icon-embed2: string.unquote('"\\ea80"');
$icon-terminal: string.unquote('"\\ea81"');
$icon-share2: string.unquote('"\\ea82"');
$icon-mail: string.unquote('"\\ea83"');
$icon-mail2: string.unquote('"\\ea84"');
$icon-mail3: string.unquote('"\\ea85"');
$icon-mail4: string.unquote('"\\ea86"');
$icon-file-word: string.unquote('"\\eae1"');
$icon-file-excel: string.unquote('"\\eae2"');

