@use 'sass:math';
@use "../../shared/partials/typography/fonts/cbaBeaconSans.font";

$icomoon-font-path: "/fonts";
$headingFont: "CBABeaconSans",sans-serif;
$bodyFont: "CBABeaconSans","helvetica","arial",sans-serif;
