$white: #fff !default;
$white-10: #f2f2f2 !default;
$white-20: #e6e6e6 !default;
$white-30: #d9d9d9 !default;
$white-40: #cccccc !default;
$white-50: #bfbfbf !default;
$white-60: #b3b3b3 !default;
$white-70: #a6a6a6 !default;
$white-80: #999999 !default;
$white-90: #8c8c8c !default;

$black: #000 !default;
$black-10: #0d0d0d !default;
$black-20: #1a1a1a !default;
$black-30: #262626 !default;
$black-40: #333333 !default;
$black-50: #404040 !default;
$black-60: #4d4d4d !default;
$black-70: #595959 !default;
$black-80: #666666 !default;
$black-90: #737373 !default;

$neutral: #a8bcc9 !default;
$neutral-10: #181a1b !default;
$neutral-20: #24282b !default;
$neutral-30: #384147 !default;
$neutral-40: #516472 !default;
$neutral-50: #7e97a7 !default;
$neutral-60: #c2d0d9 !default;
$neutral-70: #d3dee4 !default;
$neutral-80: #e5ebef !default;
$neutral-90: #eef2f4 !default;
$neutral-95: #f6f8fa !default;
