@use '../../../../styles/shared/utilities/mixins';

.bubbleNavigatorFilter {
  @include mixins.columnLayout($alignItems: flex-start);

  fieldset {
    @include mixins.rowLayout($alignItems: flex-end);

    &.filterSearchTerm {
      width: 100%;
      .formField {
        flex: 1;
        label {
          padding-bottom: 0;
        }
      }
    }

    &.filterKeys {
      flex-wrap: wrap;
      row-gap: 10px;

      h3 {
        flex: none;
        width: 100%;
      }

      .checkBoxField {
        width: 18%;
        box-sizing: border-box;

        .labelText {
          font-size: 13px;
        }

        .checkboxIcons {
          .icon {
            font-size: 18px;

            &.icon-checkbox-unchecked {
              color: var(--bubbleNavigatorFilterCheckboxUncheckedColor);
            }

            &.icon-checkbox-checked {
              color: var(--bubbleNavigatorFilterCheckboxCheckedColor);
            }
          }
        }
      }
    }
  }

  .accordion {
    &.accordion_xs {
      fieldset {
        &.filterKeys {
          row-gap: 0;
        }
        &.accordion_s {
          &.filterKeys {
            row-gap: 5px;
          }
        }
      }
    }
  }
}