@use 'sass:math';
@use "sass:meta";
@use 'palette' as palette;

@use '../../variables/cssVars/layoutVariables';
@use '../../variables/cssVars/formVariables';
@use '../../variables/cssVars/navigationVariables';
@use '../../shared/partials/typography/fonts/catalogue.font';
@use '../../shared/partials/typography/typography';
@use '../../shared/partials/layouts/layouts';
@use '../../shared/partials/buttons/buttons';
@use '../../shared/partials/animations';
@use '../../../icons/style' with ($icomoon-font-path: "../icons/fonts");

// FORMS
@use '../../shared/forms/forms';

@use '../../../components/design/accordion/accordionVariables' with (
  $accordionHeaderFont: ("Catalogue", "Arial", "Helvetica", sans-serif),
  $accordionBorder: 1px solid palette.$palette1,
  $accordionHeaderIconColor: palette.$palette1
);

@use '../../../components/design/banners/pageBanner/pageBannerVariables';
@use '../../../components/design/tooltip/tooltipVariables' with (
  $tooltipIconBg: palette.$primaryButtonBg,
  $tooltipIconFgColor: palette.$baseTint,
  $tooltipContentBg: palette.$palette2-200,
  $tooltipContentFgColor: palette.$baseTextColor
);

@use '../../../components/design/dialog/dialogVariables';
@use '../../../components/design/icons/notificationIcon/notificationIconVariables';
@use '../../../components/design/tabs/tabVariables';
@use '../../../components/design/statusIndicators/statusIndicatorsVariables';

@use '../../shared/partials/buttons/buttonVariables';
@use '../../shared/utilities/mixins';

@include buttonVariables.autoButtonVariables(
  palette.$primaryButtonBg,
  palette.$secondaryButtonBg,
  palette.$tertiaryButtonBg,
  1px
);

:root {
  @include accordionVariables.accordionVariables;
  @include pageBannerVariables.pageBannerVariables;
  @include tooltipVariables.tooltipVariables;
  @include dialogVariables.dialogVariables;
  @include tabVariables.tabVariables;
  @include statusIndicatorsVariables.statusIndicatorsVariables;
  @include notificationIconVariables.notificationIconVariables;
}
