.spinnerWithArms,
.spinnerWithArms svg {
  width: 65px;
  height: 65px;
}

.spinnerWithArms svg .path1 { opacity: 0.8; }
.spinnerWithArms svg .path2 { opacity: 0.17; }
.spinnerWithArms svg .path3 { opacity: 0.25; }
.spinnerWithArms svg .path4 { opacity: 0.33; }
.spinnerWithArms svg .path5 { opacity: 0.42; }
.spinnerWithArms svg .path6 { opacity: 0.50; }
.spinnerWithArms svg .path7 { opacity: 0.58; }
.spinnerWithArms svg .path8 { opacity: 0.67; }
.spinnerWithArms svg .path9 { opacity: 0.75; }
.spinnerWithArms svg .path10 { opacity: 0.83; }
.spinnerWithArms svg .path11 { opacity: 0.92; }
.spinnerWithArms svg .path12 { opacity: 1; }
